In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("C:/Users/hmnsh/Downloads/submission_co_corrected0-2.csv")
df1.head()

            ImageID                                   PredictionString
0  b5d912e06f74e948  /m/04yx4 0.8513652086257935 0.43385112 0.28740...
1  be137cf6bb0b62d5  /m/0hg7b 0.7785665988922119 0.021946797 0.2579...
2  8d65ca08cb5ce8e8  /m/0nybt 0.6117721796035767 0.28921688 0.48958...
3  4d3ad1e52ad8c065  /m/0dzct 0.8881123065948486 0.4327386 0.072321...
4  9b94408691c7d7bf  /m/063rgb 0.6159067153930664 0.0 0.0 0.6780492...

In [3]:
df2 = pd.read_csv("C:/Users/hmnsh/Downloads/submission_co_corrected2-4.csv")
df2.head()

            ImageID                                   PredictionString
0  f3da24bc0ad4e989  /m/04yx4 0.7623876929283142 0.065751284 0.3980...
1  6e00099b932d057b  /m/0dzct 0.8822681903839111 0.11205666 0.31925...
2  9905185d19c4e499  /m/0138tl 0.7920055389404297 0.0 0.06199 0.967...
3  92fbdef4136dc826  /m/015p6 0.9981708526611328 0.38870314 0.34941...
4  363d4dca1dadeada  /m/01g317 0.8063486814498901 0.7626353 0.04384...

In [4]:
df3 = pd.read_csv("C:/Users/hmnsh/Downloads/submission_co_corrected4-5.csv")
df3.head()

            ImageID                                   PredictionString
0  9ebdc1320ead66e2  /m/07j7r 0.8348236680030823 0.008202486 0.3635...
1  9863a478a5b9ec60  /m/03bt1vf 0.7719643712043762 0.2971434 0.4886...
2  46ef0da2632263e3  /m/04yx4 0.8730794191360474 0.7971036 0.391640...
3  ba7ee80384252c2f  /m/01bl7v 0.904625415802002 0.7170742 0.114035...
4  e52c08d648d7af98  /m/07j7r 0.7688062787055969 0.62266725 0.08487...

In [5]:
df4 = pd.read_csv("C:/Users/hmnsh/Downloads/submission_co_corrected50-65.csv")
df4.head()

            ImageID                                   PredictionString
0  8fc281821ec6f9ce  /m/0cmf2 0.968939483165741 0.4266345 0.4665919...
1  e055ae04a9440bfc  /m/0dzct 0.9859538674354553 0.66144824 0.30706...
2  222aafb571e4a39d  /m/0cgh4 0.6521431803703308 0.2250492 0.028355...
3  eb8d4dd4cca9bfbf  /m/01g317 0.653771698474884 0.503423 0.570437 ...
4  7c5481fe6391568e  /m/0d4v4 0.9000517129898071 0.87458897 0.20507...

In [6]:
df5 = pd.read_csv("C:/Users/hmnsh/Downloads/submission_co_corrected65-80.csv")
df5.head()

            ImageID                                   PredictionString
0  a16ccf53079b7c3b  /m/06msq 0.3577132821083069 0.4039613 0.098094...
1  44dc4e0c0cb4986f  /m/0342h 0.9541490077972412 0.1183933 0.634465...
2  44960561303eb79b  /m/03120 0.4755990207195282 0.8454966 0.702012...
3  aed9c8d045de7073  /m/0k4j 0.9624020457267761 0.06437214 0.272923...
4  e633dc8bf1b0fb97  /m/01j61q 0.8489207625389099 0.014884539 0.013...

In [7]:
df6 = pd.read_csv("C:/Users/hmnsh/Downloads/submission_co_corrected80-99.csv")
df6.head()

            ImageID                                   PredictionString
0  710b29035bf88a33  /m/01g317 0.6814851760864258 0.33416006 0.2711...
1  5fb4c440f70e7c1c  /m/0bt_c3 0.9846441745758057 0.049634036 0.051...
2  1afcb9eab3aea4c5  /m/03jm5 0.9382523894309998 0.000882334 0.1726...
3  b9a858dd9432bd57  /m/03vt0 0.8846098780632019 0.08146881 0.33137...
4  659f38bf9dfa0b14  /m/09f_2 0.988486647605896 0.12375878 0.481292...

In [8]:
frames = [df1, df2, df3, df4, df5, df6]
result = pd.concat(frames)
result.head()

            ImageID                                   PredictionString
0  b5d912e06f74e948  /m/04yx4 0.8513652086257935 0.43385112 0.28740...
1  be137cf6bb0b62d5  /m/0hg7b 0.7785665988922119 0.021946797 0.2579...
2  8d65ca08cb5ce8e8  /m/0nybt 0.6117721796035767 0.28921688 0.48958...
3  4d3ad1e52ad8c065  /m/0dzct 0.8881123065948486 0.4327386 0.072321...
4  9b94408691c7d7bf  /m/063rgb 0.6159067153930664 0.0 0.0 0.6780492...

In [9]:
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = result[result.duplicated()]
 
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [ImageID, PredictionString]
Index: []

In [14]:
len(result.ImageID.unique())

99999

In [12]:
result.to_csv('submission_co_corrected.csv', index=False)